<h1>Home page</h1>
<a href="https://docs.google.com/document/d/19qapqmZaiDcG-aUbb66W_dwLU1BQqR3tC7bufB5dOu4/edit?usp=sharing">Документация</a>
<h3>Не Swagger, зато более приближено к тому, что присылают нам партнеры</h3>
<h3>нужно реализовать:</h3>
<ul>
  <li>1) получение списка АЗС</li>
  <li>2) получение прайсов</li>
  <li>3) отобразить в табличном виде с выводом на front, или самую простую таблицу, можно даже в консоли)
  </li>
  <li>4) использовать node js</li>
  <li>5) методы должны вызваться одним флагом</li>
</ul>

<h3>Api_key</h3>
<p>d389ce64-1390-402f-8d7d-d5b5ce1248fa</p>
